.header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border-bottom: 1px solid #ddd;
  padding: 20px;
	background-color: white;
}

.logo img {
  width: 134px;
  height: auto;
}

.menu ul {
  list-style: none; 
  padding: 0; 
  margin: 0;
}

.menu ul li {
  display: inline;
  margin-right: 30px;
}

.menu ul li a {
  text-decoration: none; 
  color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 100%;
	font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info p {
  margin-right: 30px;
	font-family: 'Roboto', sans-serif;
  font-size: 16px;
	line-height: 100%;
}

.login-button {
  border-radius: 5px;
  border: 1px solid #e30611; 
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
	line-height: 100%;
	font-weight: bold;
  padding: 10px 20px; 
  cursor: pointer;
	background-color: white;
  transition: background-color 0.3s, color 0.3s;
  min-width: 120px;
}

.login-button:hover {
  background-color: #c82333;
  border-color: #bd2130;
}