.voice-chat-modal-container {
  position: fixed;
  bottom: 10%; 
  right: 5%; 
	max-width: 700px;
}

/*Кнопка открыть*/
.voice-chat-modal-container .open {
	font-size: 4em;
  background-color:none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: fixed;
  bottom: 2%; 
  right: 5%; 
  margin-top: 2%; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

/*Стили для окна модального*/
.modal {
	background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  bottom: 2%; 
  right: 5%; 
  margin-top: 2%; 
  justify-content: center; 
  align-items: center;
	margin-bottom: 20px;
}

/*Модальное окно*/
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px; 
  background-color: white;
  border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*Кнопка закрыть мод.окно*/
.modal-content .close {
	font-size: 3em;
	position: absolute;
  right: 20px;
  top: 20px;
  font-weight: bold;
	background-color: white;
	width: 50px;
	height: 50px;
	border: none;
  padding: 0px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/*Заголовок*/
.chat-header {
  color: rgba(0, 0, 0, 1);
  width: 600px;
  margin-bottom: 30px;
	margin-top: 20px;
  font-family: Roboto;
  text-align: center;
  font-size: 32px;
}

 /*Контейнер для чата */
.user-bot-message-container {
	width: 560px;
  height: 538px;
  overflow-y: auto; 
  display: flex; 
  flex-direction: column; 
}

 /*Контейнер для чата */
.user-message-widget {
  align-self: flex-end;
}

.bot-message-widget {
  align-self: flex-start;
}


.message-text {
  background-color: rgba(228.70313107967377, 228.70313107967377, 228.70313107967377, 1);
  border-radius: 10px;
  color: rgba(0, 0, 0, 1);
  padding: 15px;
  margin-bottom: 10px; 
  font-family: Roboto, 'sans-serif';
	font-size: 20px;
	line-height: 145%;
}


.input-container {
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.input-container input {
  flex: 1;
  width: 430px;
  padding: 15px;
  background-color: #E5E5E5;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: black;
  line-height: 100%;
  margin-right: 30px;
}

.voice {
  background-color: transparent;
  border: none;
  padding: 0px;
	width: 40px;
  height: 40px;
  cursor: pointer;
}

.voice:hover {
  background-color: transparent;
}

.start {
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.start:hover {
  background-color: transparent;
  border: none; 
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.stop {
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.stop:hover {
  background-color: #e4745af7;
  color: #ffffff;
}

.voice-icon {
  font-size: 4em;
}


@media only screen and (max-width: 600px) {
  .voice-chat-modal-container {
    max-width: 300px; 
    bottom: 5%;
    right: 2%;
  }
  
	.voice-chat-modal-container .open {
		font-size: 2em;;
	}

  .modal {
    max-width: 300px; 
    bottom: 5%;
    right: 2%;
  }

  .modal-content {
    padding: 10px; 
  }

	.modal-content .close {
		font-size: 2em;
	}

  .chat-header {
    width: 300px; 
    font-size: 24px; 
    margin-bottom: 20px;
  }

  .user-bot-message-container {
    width: 280px; 
    height: 300px; 
  }

  .input-container input {
    width: 150px; 
		font-size: 10px;
  }
	

	.voice-icon {
		font-size: 2em; 
	}
	

  .voice {
    width: 30px;
    height: 30px;
  }

  .start, .stop {
    width: 30px; 
    height: 30px;
    padding: 5px;
  }
}
